

/* header */
nav{
  background-color: red;
  display: flex;
  justify-content: space-between;
  padding-left: 20px;padding-right: 20px;
}
.active{
  text-decoration: underline;
  font-weight: bold;
}
.topnav a:hover{
  background-color: aqua;
}

.sub{
  padding: 10px;
  border-radius: 10px;
  background-color: White;

}
.topnav{
  display: flex;
  background-color: aqua;
  justify-items: center;
  padding: 10px;
  align-self: center;
  border-radius: 10px;
}
.topnav a{
  background-color: white;
  display: flex;
  padding: 10px;padding-left: 25px;padding-right: 25px;
  justify-content: center;
  text-decoration: none;
}











/* Footer */

.link{
  background-color: green;
  padding: 10px;
  display: flex;
  justify-content: space-around;

}
.link a{
  padding: 10px;
  background-color: white;
  border-radius: 7px;
}
.fnote{
  background-color: rgb(230, 221, 221);
  border-radius: 20px;
  padding: 10px;
  text-align: center;
}


/* for mobile Phone */

@media only screen and (max-width: 600px) {
  .topnav{
    position: relative;
    display: inline-block;
  }
  
  .topnav a {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .topnav:hover .topnav a {
    display: block;
  }
}